$theme-colors: ( 
    "primary": #031926, 
    "secondary": #468189,
    "success": #77aca2, 
    "info": #9dbebb, 
    "fizz": #f4e9cd,
    "gray": #D3D3D3,
);

html, body {
    overflow-x: hidden;
    font-size: 16px;
    margin-top: 78px;
    font-family: 'Source Sans Pro', sans-serif !important;
    padding: 0 !important;
}

nav {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

textarea {
    padding-right: 20px;
    overflow-y: hidden !important;
}

.router-view {
    min-height: calc( 100vh - 78px - 144px - 48px );
}

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
